:root {
  --color-primary: rgb(255, 0, 0);
  --color-whitefont: #fff;
  --color-primary-shade: #b30000;
  --color-background-grey: #28272c;
  --color-text-grey: #333;
  --color-lightest2-grey: #b2b2b2;
  --color-pink: #ff00004d;
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --color-focus: #ff6666;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(255, 0, 0, 0.5);
}
body {
  font-family: var(--font-nunito-sans);
}
a {
  text-decoration: none;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../images/Image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-header {
  color: var(--color-whitefont);
  font-size: 6.2rem;
  text-transform: uppercase;
  z-index: 1;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.hero-text {
  font-size: 16px;
  color: var(--color-whitefont);
  z-index: 1;
  margin-bottom: 40px;
}
.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.btn--red:link,
.btn--red:visited {
  background-color: var(--color-primary);
  color: var(--color-whitefont);
}

.btn--red:hover,
.btn--red:active {
  background-color: var(--color-primary-shade);
}
.btn--white:link,
.btn--white:visited {
  background-color: var(--color-whitefont);
  color: var(--color-primary);
  text-transform: uppercase;
}
.btn--white:hover,
.btn--white:active {
  background-color: #b3b3b3;
}

nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);

  top: 0;
  width: 100%;
  color: var(--color-whitefont);
  height: 96px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo-image {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: var(--color-whitefont);
}
.logo-text {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-first_word {
  color: var(--color-primary);
}

.logo-links {
  list-style: none;
  display: flex;
  justify-content: center;
}
.logo-links li {
  display: flex;
}
.nav-link:link,
.nav-link:visited {
  color: var(--color-whitefont);
  text-transform: uppercase;

  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.nav-link:hover,
.nav-link:active {
  background-color: rgba(178, 178, 178, 0.6);
}
/* BLOG SECTION */
.blog {
  width: 100%;
}
.blog-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.blog-title::before,
.blog-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  margin-inline: 1rem 1rem;
  background-color: var(--color-primary);
}

.card {
  min-height: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 20px;
}
.blog-img {
  width: 100%;
}
.blog-text {
  font-size: 1.2rem;
  font-weight: 400;
}
.btn-read {
  align-self: flex-start;
}
.card-heading {
  align-self: flex-start;
  text-transform: uppercase;
}

/* SERVICE SECTION */
.service {
  background-color: var(--color-background-grey);
  width: 100%;
  padding: 3.2rem;
}
.service-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-whitefont);
  margin-bottom: 3.5rem;
}

.service-title::before,
.service-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  background-color: var(--color-primary);
  margin-inline: 1rem 1rem;
}

.service-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  gap: 50px;
  margin-top: 50px;
}

.service-card {
  min-height: 300px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.service-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: center;
}
.service-img:hover {
  transform: scale(1.3);
}
.service-heading {
  text-transform: uppercase;
  color: var(--color-whitefont);
}
.service-text {
  text-align: center;
  color: var(--color-whitefont);
}
.btn-read.btn-small {
  align-self: center;
}

/**** FORM SECTION ****/

.form {
  width: 100%;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: var(--color-text-grey);
}

.form-title::before,
.form-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  margin-inline: 1rem 1rem;
  background-color: var(--color-primary);
}

.form-details.container {
  display: flex;
  align-items: center;
  justify-content: cemter;
  gap: 1.6rem;
}
.form-img {
  display: flex;
  align-items: centr;
  align-self: flex-start;
  width: 35rem;
  height: 20rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* padding: 40px; */
}

input,
textarea {
  display: block;
  /* width: 100%; */
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
input::placeholder {
  font-family: inherit;
}

label {
  font-size: 2rem;
  color: darkgray;
  margin-bottom: 10px;
  font-family: inherit;
}

input {
  width: 25rem;
}
input:focus,
input:hover,
a:focus,
textarea:focus,
textarea:hover {
  outline: none;
  border: 2px solid var(--color-focus);
  border-radius: 10px;
}

textarea {
  width: 25rem;
  font-family: inherit;
}

/* .checkbox input {
  position: absolute;
  opacity: 0;
  height: 5;
  width: 5;
}*/

.btn-container {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 0 auto;
}
.btn,
.btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  max-height: 2rem;
  min-width: 30%;
  text-transform: uppercase;
  border: 1px solid var(--color-primary);
  background-color: var(--color-whitefont);
  color: var(--color-primary);
  /* box-shadow: 0 2px 3px rgb(0, 0, 0, 0.7); */
}
.btn:hover {
  /* box-shadow: inset 0 2px 3px rgb(0, 0, 0, 0.7); */
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: var(--color-background-grey);
  width: 100%;
  min-height: 250px;
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-text {
  color: var(--color-whitefont);
}
.logo-text.small {
  font-size: 24px;
}
.logo-image.small {
  height: 25px;
  width: 25px;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.8s;
  animation-fill-mode: backwards;
}
.animated {
  animation: moveInBottom 0.5s ease-out 0.3s;
  animation-fill-mode: backwards;
}
